{
    "name": "{{ searchEngineVersion }}",
    "config": {
        "main" : "fr.openent.searchengine.SearchEngine",
        "port" : 8053,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "app-name" : "Searchengine",
        "app-address" : "/searchengine",
        "app-icon" : "searchengine-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl" : true,
        "auto-redeploy": false,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "entcore.port" : 8009,
        "max-sec-time-allowed" : 4,
        "paging-size-per-collection" : 10,
        "search-word-min-size" : 4,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        }
    }
}