<div class="row">
	<h1 data-reload class="application-title"><i18n>searchengine.title</i18n></h1>
	<div class="twelve cell">
		<div class="row cell">
			<i18n>filters.title</i18n>
			<filters>
				<li ng-repeat="type in searchTypes.all" ng-class="{ selected: type.selected }">
					<label>
						<i class="[[type.data.toLowerCase().slice(0, -15)]] type" tooltip="[[type.data.toLowerCase()]]"></i>
						<input type="checkbox" ng-model="type.selected" ng-change="selectFilter(type)" />
						<span translate content="[[type.data.toLowerCase()]]"></span>
					</label>
				</li>
			</filters>
		</div>
		<div class="row cell">
			<div class="cell" style="width:50%;padding: 8px 18px 10px;">
				<input type="text" name="searchField.words" ng-model="searchField.words"
				   ng-keyup="$event.keyCode == 13 ? launchSearching(searchField.words, $event) : null" class="twelve cell"
				   i18n-placeholder="label.placeholder" required autofocus/>
			</div>
			<div class="cell">
				<button ng-click="searching();"><i18n>label.search</i18n></button>
			</div>
		</div>
		<div class="row cell">
			<!-- Errors -->
			<div ng-include="template.containers.errors"></div>
			<div ng-include="template.containers.hasMoreResult" ng-show="searchs.all"></div>
		</div>
	</div>
	<div ng-repeat="res in searchs.all  | orderBy: '-modified.$date'" class="row" bottom-scroll="loadPage()">
		<div class="cell notification" style="width:79%">
			<div class="content horizontal-spacing">
				<span class="inline">
					<span tooltip="tooltip.title"><b>[[res.title]]</b></span>
					<span tooltip="tooltip.description" bind-html="(res.description) ? res.description : '<em>' + lang.translate('search.engine.noDescription') + '</em>'"></span>
					<div><a tooltip="tooltip.access" href="[[res.url]]"><i18n>label.access</i18n> (<span translate content="[[res.app.toLowerCase()]]"></span>)</a></div>
				</span>
			</div>
			<div class="notification-date">
				<em class="low-importance right-magnet"><i18n>label.date</i18n> : [[formatDate(res.modified.$date)]]</em>
			</div>
		</div>
		<div class="cell" style="width:1%;">&nbsp;</div>
		<div class="cell notification" style="width:20%">
			<div class="content horizontal-spacing">
				<span class="inline">
					<span class="avatar">
						<i class="system-avatar" ng-if="!res.ownerId"></i>
						<img ng-src="/userbook/avatar/[[res.ownerId]]?thumbnail=100x100" ng-if="res.ownerId" />
					</span>
					<div><a tooltip="tooltip.owner" href="/userbook/annuaire#[[res.ownerId]]">[[res.ownerDisplayName]]</a></div>
				</span>
			</div>
		</div>
	</div>
	<!-- bug on include with ng-if -->
	<div class="row" ng-if="searchs.all.length > 0">
		<div class="info" ng-repeat="res in hasMoreResult" translate content="[[res.message]]" />
	</div>
	<div class="row notification" ng-show="searchs.loading">
		<h1 class="reduce-block-eight nomargin"><i18n>loading</i18n></h1>
	</div>
</div>